<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
     <title>To-Do List</title>
</head>

<body>
     <div class="bg">
          <div class="logo">
               <span>T</span><br>
               <span>O</span><br>
               <span>D</span><br>
               <span>O</span><br>
               <span> </span><br>
               <span>L</span><br>
               <span>I</span><br>
               <span>S</span><br>
               <span>T</span>
          </div>
          <h1 style="text-align:center;">Welcome</h1>

          <form action="/registerr" method="POST">
               <div class="form-controllll">
                    <input type="text" name="name" required="">
                    <label class="name">
                         <span style="transition-delay:0ms">Enter</span>
                         <span style="transition-delay:200ms">name</span>
                    </label>
                    <br><br>
                    <input type="text" name="emaill" required="">
                    <label class="emaill">
                         <span style="transition-delay:0ms">Enter</span>
                         <span style="transition-delay:200ms">email</span>
                    </label>
                    <br><br>
                    <input type="text" name="pass" required="">
                    <label class="pass">
                         <span style="transition-delay:0ms">Enter</span>
                         <span style="transition-delay:200ms">password</span>
                    </label>
                    <br><br>
                    <input type="text" name="cpass" required="">
                    <label class="cpas">
                         <span style="transition-delay:0ms">Confirm</span>
                         <span style="transition-delay:200ms">password</span>
                    </label>
                    <br>
                    <button type="submit" class="btn">Sign up</button>
                    <div style="width: 280px; text-align: center;">
                         <br>
                         <a href="/login" style="text-decoration: none; color: rgb(83, 5, 5); font-size: 20px;">Already
                              Registered</a>
                    </div>
               </div>
          </form>
     </div>
     <br><br><br>
</body>

</html>